name: overflow_view
description: A widget displaying children in a line with an overflow indicator at the end if there is not enough space.
version: 2.0.0
homepage: https://github.com/WilliamX1019/overflow_view

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter


dev_dependencies:
  flutter_test:
    sdk: flutter
